*{
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
  }
  header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul{
    display: flex;
  column-gap: 20px;

  }
  li a{
    color: black;
  }
  h3{
    color: brown;
  }
  #delete{
    width: 100px;
  }
  .all-cards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .card{
    padding: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  #add{
    padding: 10px 10px;
   
    background-color: brown;
    color: white;
    width: 100px;
    border-radius: 10px;
  }
  #delete{
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
  }
  .editbtn{
    padding: 8px 15px;
    background-color: orange;
    border-radius: 10px;
    color: white;
  }
 h4{
color: brown;
 }