
@import "./_details.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;

}
header{
    .header{
        padding: 20px 0;
    
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin:  auto 0;
            button{
                border: none;
                background-color: transparent;
            }
        }
    
    }
    &::after{
        content: "";
        width: 100%;
        background-color: black;
        height: 1px;
        display: block;
        margin-bottom: 30px;
    }
}

.loading{
    display: none;
 justify-content: center;
 align-items: center;
 margin-top: 100px;
}
.dark{
    background-color: rgb(1, 2, 10);
    color: white;
}
.dark-modebtn{
    color: white;
}
#selection{
    max-width: 250px;
}
// .dark-card{
//     background-color: black;
//     color: #ffffff;
// }