
@import "./_details.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;

}
header{
    .header{
        nav{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:  auto 0;
            button{
                border: none;
                background-color: transparent;
            }
        }
    }
}
// .allcards{
//     col{
//         a{
//             .card{
//                 .card-img-top{
//                     height:200px;
//                 }
//             }
//         }
    
//     }
// }
.loading{
    display: none;
 justify-content: center;
 align-items: center;
 margin-top: 100px;
}